.name {
  font-size: 23px;
  margin-bottom: 5px;
}
.input {
  width: 328px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 23px;
  margin-bottom: 20px;
  background-color: transparent;
}
