.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 20px;
  width: 100%;
  margin-bottom: 4px;
}

.input {
  font-size: 20px;
  height: 24px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  width: calc(100% - 20px);
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.errorMessage {
  color: red;
  font-size: 18px;
}
.btn {
  display: block;
  font-size: 20px;
  height: 25px;
  width: 200px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Додано перехід для background-color */
  margin: 0 auto;
}

.btn:hover {
  transform: scale(1.1);
}
